
# python related artifacts
**/.mypy_cache/
**/__pycache__/

# output of make build
build/

# DrRacket artifacts
**/compiled/

# File used to mark when `make init` has already been run once
.make-init-ran-already